<!DOCTYPE html>
<html>
  <head>
    <title>mini msg brd</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>Add a message!</h1>
    <form method="POST" action="/new">
      <input type="text" name="user" />
      <input type="text" name="msgText" />
      <input type="submit" value="Post" />
    </form>
  </body>
</html>
